[submodule "types/girs"]
	path = types/girs
	url = https://github.com/gjsify/types
[submodule "types/gnome-shell"]
	path = types/gnome-shell
	url = https://github.com/gjsify/gnome-shell
	ignore = dirty
